<%- include('partials/header.ejs') %>

<div class="full-post">
    <div class="post">
        <h3 class="post-title"><%= post.title %></h3>
        <p><%= post.content %></p>
    </div>
</div>
<footer>
    <a href="/view-post/0"> <strong>← Back to All Posts</strong </a>
</footer>

<%- include('partials/footer.ejs') %>
