<%- include('partials/header.ejs') %>


  <div class="hero-section">
    <div class="hero-section-text">
      <h1>Welcome to Your Blog</h1>
      <h2>your personal space to write your ideas</h2>
    </div>

  </div>
  <div class="main-section">
    <div class="flex-container">
      <a href="/create-post" class="card">
        <h3>Create</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis in blandit lorem,
        </p>
      </a>
      <a href="/view-post/0" class="card"> <!-- Assuming 0 is the index for the first post -->
        <h3>View</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis in blandit lorem,
        </p>
      </a>
      <a href="/view-to-edit/0" class="card">  <!-- Assuming 0 is the index for the first post -->
        <h3>Edit</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis in blandit lorem,
        </p>
      </a>
    </div>
    

    <script src="/js/script.js"></script>


    <%- include('partials/footer.ejs') %>